@import '~vars.less';

.component {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    .group {
        .cell {
            strong {
                font-size: 2.5em;
            }
            span {
                font-size: 1.4em;
                line-height: 1.5em;
            }
        }
        &[data-title=~'全新玩法：生涯'] {
            grid-column: span 6;
            .grid {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
            }
        }
        &[data-title=~'更多体验'] {
            grid-column: span 4;
            .grid {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                strong {
                    line-height: 1em;
                }
            }
        }
    }
}
