@import '~vars.less';

.component {
    padding-top: unit(250 * 20px / 1920px, vw);
    padding-bottom: unit(250 * 20px / 1920px, vw);
    padding-left: unit(500 * 20px / 1920px, vw);
    padding-right: unit(500 * 20px / 1920px, vw);
    // grid-template-columns: repeat(3, 1fr);
    // grid-template-columns: 3fr 10fr 3fr;
    grid-template-columns: 10fr 3fr;
    // grid-template-rows: var(--title-cell-height) 7fr repeat(3, 3fr);
    grid-template-rows: var(--title-cell-height) 6fr var(--title-cell-height) 5fr 5fr;

    .group {
        .grid {
            .cell {
                :not(.mod-type-center) {
                    padding: 0 0 unit(100 * 17.5px / 1920px, vw)
                        unit(100 * 30px / 1920px, vw);
                }
                strong {
                    font-size: 1.6em;
                    line-height: 1.2em;
                    font-weight: 900;
                    small {
                        display: block;
                        line-height: 1em;
                        font-weight: normal;
                        font-size: unit(3/4, em);
                        margin-bottom: 0.1em;
                        margin-left: -0.2em;
                    }
                }
                span {
                    font-size: 1.125em;
                    line-height: 1.5em;
                }
            }
        }

        // &[data-name='marketplace'] .cell:nth-child(1),
        // &[data-name='aircrafts'] .cell:nth-child(1) {
        //     strong {
        //         font-size: 2.25em;
        //         small {
        //             font-size: unit(3/5, em);
        //         }
        //     }
        //     span {
        //         font-size: 1.4em;
        //         line-height: 1.5em;
        //     }
        // }

        &[data-name='general'] {
            grid-row: 1 / span 5;
            .grid {
                grid-template-rows: 6fr 5fr 5fr;
                grid-template-columns: repeat(6, 1fr);
            }
        }

        &[data-name='career'] {
            grid-row: 1 / span 4;
            margin-bottom: calc(var(--gap) * 2 + var(--gap) * 2);
            .grid {
                grid-template-rows: 11fr 6fr;
            }
        }

        &[data-name='aircrafts'] {
            grid-row: 5 / span 1;
            margin-top: calc(var(--title-cell-height) * -1);
            .grid {
                // grid-template-columns: 1fr 1fr;
            }
        }
    }
}
