@import '~vars.less';

.component {
    --title-height: 45px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.425fr;
    gap: 20px 60px;
    overflow: hidden;
}
